<h1><a href="http://localhost:1111/" style="text-decoration: none; color: inherit;">MY HOTEL :) </a></h1>

<div class="container">

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <button routerLink="customer" class="m-1"> Customer List </button>
    <button routerLink="login" class="m-1">Login </button>
    <button routerLink="room" class="m-1">Rooms </button>
    <button routerLink="roomAvailability" class="m-1">Available Rooms</button>
    <button routerLink="cart" class="m-1">Cart</button>

  </nav>

</div>

<router-outlet></router-outlet>


<!-- app.component.html or any other parent component template -->
