<link rel="stylesheet" href="../../../assets/css/bootstrap.css">
<link rel="stylesheet" href="../../../assets/css/style.css">

<style>
  .customer-section {
    /*background-image: url('../../../assets/img/Restful Hotel.png');*/
    position: relative;
    z-index: 0;
    padding-top: 150px;
  }

  .customer-container {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }

    .customer-container .heading {
      color: #333;
      margin-bottom: 20px;
    }

  .btn-show-booking {
    max-width: 500px;
    display: block;
    margin: 0 auto;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .footer-section {
    margin-top: auto;
  }

  .room-image {
    max-width: 150px; /* Set a maximum width for the room image */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 20px; /* Space between image and details */
  }

  .booking-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .booking-details {
    flex-grow: 1;
  }
</style>

<app-navbar></app-navbar>
<body>
  <div class="main-container">
    <!--<section class="site-hero overlay customer-section" style="background-image: url('../../../assets/img/Restful Hotel.png')">-->
    <section class="customer-section section  bg-pattern">
      <div class="container">
        <div class="customer-container justify-content-center align-items-center">
          <div>
            <h2>Booking Information</h2>
            <div *ngIf="BookingList.length > 0; else noBookings">
              <div *ngFor="let booking of BookingList" class="booking-item">
                <img [src]="getRoomImage(booking.name)" alt="{{ booking.name }}" class="room-image img-fluid" />
                <div class="booking-details">
                  <ul>
                    <li><strong>Booked Rooms:</strong> {{ booking.name }}</li>
                    <li><strong>Number of guests:</strong> {{ booking.pax }}</li>
                    <li><strong>Check In Date:</strong> {{ booking.checkInDate | date:'yyyy-MM-dd'  }}</li>
                    <li><strong>Check Out Date:</strong> {{ booking.checkOutDate | date:'yyyy-MM-dd' }}</li>
                  </ul>
                </div>
              </div>
            </div>
            <ng-template #noBookings>
              <p>No Bookings Yet, Time to book a room to rest!</p>
            </ng-template>
          </div>
        </div>
      </div>
      <button routerLink="../roomAvailability" class="btn btn-primary btn-block btn-show-booking" data-aos="fade-up">Make a New Reservation</button>
      <!--<button class="btn btn-primary btn-block btn-show-booking" data-aos="fade-up" (click)="onLogout()">Logout</button>-->
    </section>
  </div>
</body>
<router-outlet></router-outlet>

